@font-face {
    src: url("../assets/fonts/SixCaps-Regular.ttf");
    font-family: 'SixCaps';
    font-weight: normal;
}

@font-face {
    src: url("../assets/fonts/AntennaCond-Light.otf");
    font-family: 'AntennaCond';
    font-weight: 500;
}

@font-face {
    src: url("../assets/fonts/AntennaCond-Bold.otf");
    font-family: 'AntennaCond';
    font-weight: 900;
}

@font-face {
    src: url("../assets/fonts/AntennaCond-Med.otf");
    font-family: 'AntennaCond';
    font-weight: 700;
}