.media-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

// swiper fix
.swiper-slide {
    visibility: hidden;
    &.swiper-slide-active {
        visibility: visible;
    }
}

// Hexagon controls
.carousel-control {
    cursor: pointer;
    &:hover {
        filter: brightness(110%);
    }
    &:active {
        filter: brightness(60%) !important;
    }
    &.selected {
        filter: brightness(70%) !important;
    }
}

.visually-hidden {
    // bootstrap
    display: none;
}

.carousel-control-prev img.icon {
    transform: rotate(180deg);
}

.carousel-control-next,
.carousel-control-prev {
    height: max-content;
    position: sticky;
    top: 25vh;
    margin-top: 30vh;
    bottom: 40vw;
    z-index: 5;
    width: 5vw;
    background: none;
    border: none;
    grid-row: 1/3;
    cursor: pointer;

    img.icon {
        transition: translate 0.2s ease-in-out;
    }
    @media screen and (max-width: 900px) {
        display: none;
    }
}

.carousel-control-next {
    right: 5vw;
    &:hover {
        img.icon {
            transform: translateX(5px);
        }
    }
    &:active {
        img.icon {
            transform: translateX(15px);
        }
    }
}

.carousel-control-prev {
    left: 5vw;
    &:hover {
        img.icon {
            transform: rotate(180deg) translateX(5px);
        }
    }
    &:active {
        img.icon {
            transform: rotate(180deg) translateX(15px);
        }
    }
}

.carousel-wrapper {
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: 1fr;
    place-items: center center;
    .carousel-control-next {
        grid-column: -2 / span 1;
    }
    .carousel-control-prev {
        grid-column: 1 / span 1;
    }
    .swiper-container {
        grid-column: 2/-2;
    }
}

.carousel-slide {
    box-sizing: border-box;
    padding-top: 8em;
    @media screen and (min-width: 901px) {
        padding-bottom: 8em;
    }
    @media screen and (max-width: 900px) {
        padding: 3em;
    }
    & > * + * {
        margin-top: 3em;
    }
    @media screen and (max-width: 675px) {
        gap: 0;
        padding: 2em 0.5vw;
        padding-left: 1.2vw;
    }

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-around;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 13vw 60vw 13vw;
    // @media screen and (max-width: 1200px) {
    //     padding: 1em;
    // }

    h2 {
        &::first-letter {
            text-transform: uppercase;
        }
    }
    h2 {
        grid-column: 1/-1;
        text-align: center;
        text-transform: uppercase;
        font-size: 45px;
    }
    @media screen and (max-width: 675px) {
        h2 {
            font-size: 38px;
        }
        .list {
            padding-top: 0;
            p {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    h3 {
        font-size: 25px;
    }
    * + h3 {
        margin-top: 3em;
    }
    img + h3 {
        margin-top: 1em;
    }
    p {
        font-size: 19px;
        line-height: 32px;
        @media screen and (max-width: 675px) {
            font-size: 16px;
            line-height: 29px;
        }
    }
    * + p {
        margin-top: 1em;
    }

    .wide-photo {
        grid-column: 1/ -1;
        place-self: center;
        width: auto;
        height: 220px;
        max-width: 90vw;
        object-fit: cover;
        object-position: center;
        box-sizing: content-box;
        align-items: center;
        // margin: 1em;
        // margin-top: 2em;
        &.trad-media {
            height: unset;
            margin-top: 1em;
            margin-bottom: 0;
        }
        @media screen and (max-width: 900px) {
            margin: 0.3em;
            margin-top: 2em;
            width: 90vw;
            height: auto;
        }
    }
    .portfolio-image.copywriting-boure-strun {
        margin-top: -40px;
    }
    .main-text-wrapper {
        padding-top: 1em;
        grid-column: 2 / span 1;
        display: grid;
        grid-template-columns: 1fr 20vw;
        @media screen and (max-width: 900px) {
            grid-template-columns: 1fr;
        }
        grid-template-rows: auto;
        // flex-direction: column;
        // align-items: flex-start;
        // justify-content: flex-start;
        // column-gap: 10vw;
        row-gap: 0.5em;
        p,
        h3 {
            grid-column: 1 / span 1;
        }
        img.big-icon {
            grid-column: 2 / span 1;
            grid-row: 1 / span 2;
            width: 100%;
            height: auto;
            place-self: center;
            padding: 0 35%;
            // place-self: start center;
            // margin-ri: 10vw;
            filter: grayscale(1) brightness(100);
            box-sizing: border-box;
            @media screen and (max-width: 900px) {
                display: none;
            }
        }
        p {
            text-align: left;
        }
        @media screen and (max-width: 675px) {
            grid-column: 1/-1;
            padding-top: 1em;
            padding-bottom: 1em;
            grid-template-columns: 1fr;
            // max-width: 100ch;
            img.big-icon {
                display: none;
            }
        }
        &.trad-media {
            padding-top: 0;
        }
    }

    .list {
        padding-top: 0.5em;
        margin-top: 1.5em;

        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        & > * + * {
            padding-top: 1em;
        }
        h3 {
            align-self: auto;
        }
    }
    // .carousel-control-prev {
    //     grid-area: 1/1/1/-1;
    // }
    // .carousel-control-next {
    //     grid-area: 1/-2/-1/-1;
    // }
    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        gap: 0.5em;

        .bullet {
            font-size: 25px;
            font-family: sans-serif !important;
            vertical-align: baseline;
            position: relative;
            top: 0.16em;
        }
    }
}
