.media-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0;
}

// Hexagon controls
.carousel-control {
    cursor: pointer;
    &:hover {
        filter: brightness(110%);
    }
    &:active {
        filter: brightness(60%) !important;
    }
    &.selected {
        filter: brightness(70%) !important;
    }
}

.visually-hidden {
    // bootstrap
    display: none;
}

.carousel-control-prev img.icon {
    transform: rotate(180deg);
}

.carousel-control-next,
.carousel-control-prev {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    height: 100%;
    position: relative;
    z-index: 5;
    width: 5vw;
    background: none;
    border: none;
    grid-row: 1/3;
    cursor: pointer;

    img.icon {
        transition: translate 0.2s ease-in-out;
    }
}

.carousel-control-next {
    &:hover {
        img.icon {
            transform: translateX(5px);
        }
    }
    &:active {
        img.icon {
            transform: translateX(15px);
        }
    }
}

.carousel-control-prev {
    &:hover {
        img.icon {
            transform: rotate(180deg) translateX(5px);
        }
    }
    &:active {
        img.icon {
            transform: rotate(180deg) translateX(15px);
        }
    }
}

.carousel-wrapper {
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: 1fr;
    place-items: center center;
    .carousel-control-next {
        grid-column: -2 / span 1;
    }
    .carousel-control-prev {
        grid-column: 1 / span 1;
    }
    .swiper-container {
        grid-column: 2/-2;
    }
}

.carousel-slide {
    box-sizing: border-box;
    @media screen and (min-width: 901px) {
        // padding-left: 5vw;
        // padding-right: 5vw;
        padding-top: 3em;
        padding-bottom: 3em;
        // gap: 2em;
    }
    @media screen and (max-width: 900px) {
        padding-top: 3em;
        padding: 1em;
    }
    & > * {
        margin-left: 3vw;
        margin-right: 3vw;
    }
    gap: 2em;
    @media screen and (max-width: 675px) {
        gap: 0;
    }
    // display: grid;
    // row-gap: 0.5em;
    // column-gap: 5em;
    // grid-template-columns: 20px 4fr 4fr 20px;
    // grid-template-rows: 50px 1fr 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h2 {
        &::first-letter {
            text-transform: uppercase;
        }
    }
    h2 {
        grid-area: 1/2/2/3;

        text-align: center;
        text-transform: uppercase;
        font-size: 45px;
    }
    @media screen and (max-width: 675px) {
        h2 {
            font-size: 38px;
        }
        .list {
            padding-top: 0;
            p {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    h3 {
        font-size: 25px;
    }
    * + h3 {
        margin-top: 1.2em;
    }
    p {
        font-size: 19px;
        line-height: 32px;
        @media screen and (max-width: 675px) {
            font-size: 16px;
            line-height: 29px;
        }
    }
    * + p {
        margin-top: 0.3em;
    }
    // FIXME Margins and gaps

    .main-text-wrapper {
        grid-area: 2/2/3/3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5em;
        max-width: 100ch;
        p {
            text-align: left;
        }
        @media screen and (max-width: 675px) {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }

    .list {
        padding-top: 0.5em;
        grid-area: -2/1/-1/-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0.5em;
        h3 {
            align-self: auto;
        }
    }
    .carousel-control-prev {
        grid-area: 1/1/1/-1;
    }
    .carousel-control-next {
        grid-area: 1/-2/-1/-1;
    }
    .list {
        // grid-column: col2 / span 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        gap: 0.5em;
        /*ul {
            padding-left: 1.5em;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.5em;
            li {
                scroll-margin-inline-start: 15px;
            }
            li::marker {
                color: $deep-purple;
                font-size: 20px;
                margin-inline-end: -5px;
            }
        }*/
        .bullet {
            font-size: 25px;
            font-family: sans-serif !important;
            vertical-align: baseline;
            position: relative;
            top: 0.16em;
        }
    }

    /*.portfolio-container {
        grid-column: 3/4;
        grid-row: 1 / span 2;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1.5em;
        padding: 2em;

        background-image: url("../assets/hex_background_1920.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 3px;
        box-shadow: inset -25px 8px 40px #53535361;

        .portfolio-card {
            display: grid;
            grid-template-columns: 50px 5fr;
            grid-template-rows: 30px 1fr;
            row-gap: 0.3em;
            column-gap: 1em;
            padding: 0em;

            justify-items: end;

            .image-wrapper {
                grid-area: 2/1/3/2;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1em;
                img {
                    width: 100%;
                    height: auto;
                    filter: brightness(2);
                }
            }
            .youtube-icon {
            }
            .logo-koup_jas {
                width: 60%;
            }
            .logo-nejci {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: 1em;
            }
            .logo-title,
            h3 {
                grid-area: 1/2/2/3;
                align-self: left;
                padding-bottom: 0;
            }
            p {
                grid-area: 2/2/3/3;
                text-align: justify;
                font-size: 17px;
                line-height: 25px;
            }
        }
    }
    */
}

.portfolio {
    opacity: 0;
    transform: translateY(150px);
    transition: transform 0.2s cubic-bezier(0.07, 0.49, 0, 0.8), opacity 0.1s ease-in-out;
    // &:hover{
    //     transform: translateY(50px);
    // }
}

.portfolio-link {
    cursor: pointer;
}

.overlay {
    position: fixed;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    background-color: #1c1c1cc4;
    opacity: 0;
    display: none;

    grid-template-rows: 1fr auto 1fr;
    @media screen and (min-width: 1001px) {
        grid-template-columns: 1fr 900px 1fr;
        grid-template-areas:
            ". . cross"
            ". content ."
            ". . .";
    }
    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr 80vw 1fr;
        grid-template-areas:
            ". . cross"
            "content content content"
            ". . .";
    }

    .close-button {
        grid-area: cross;
        align-self: end;
        justify-self: start;
        width: 50px;
        margin: 3vw;
    }
    .content {
        grid-area: content;
        // grid-row: 2 / span 1;
        place-self: stretch stretch;
    }
    img.content {
        grid-area: content;
        width: 100%;
        height: auto !important;
        justify-self: stretch;
    }

    transition: opacity 0.3s ease-in-out, display 0.3s ease-in-out;
    & > * {
        // max-width: 50vw;
        opacity: 1;
    }
}

#overlay2 {
    grid-template-rows: 1fr 20px auto 20px 1fr;
    @media screen and (min-width: 1001px) {
        grid-template-columns: 1fr 20px 900px 20px 1fr;
        grid-template-areas:
            ". . . cross ."
            ". arrow1 content arrow2 ."
            ".  . . . .";
        .swiper-slide {
            img {
                max-width: 900px;
            }
        }
    }
    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr 5vw 80vw 5vw 1fr;
        grid-template-areas:
            ". . . cross . "
            ". arrow1 content arrow2 . "
            ". . . . .";
        .swiper-slide {
            img {
                max-width: 80vw;
            }
        }
    }
    .carousel-control-prev {
        grid-area: arrow1;
    }
    .carousel-control-next {
        grid-area: arrow2;
    }

    .swiper-slide {
        &.swiper-slide-active {
            visibility: visible !important;
        }
        &:not(.swiper-slide-active) {
            visibility: hidden !important;
        }
    }
    .close-button-2 {
        grid-area: cross;
    }
}
