@import "./paralax.scss";
@import "./positions.scss";
@import "./fontImport.scss";
@import "./contact.scss";
@import "./mediaInfo.scss";

@import "../bootstrap/_carousel.scss";

@media screen and (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
    }
}
* {
    margin: 0;
    padding: 0;
    outline: none;
}

button {
    background: none;
    border: none;
}

html {
    overflow-x: hidden;
    background-image: url("../assets/background_blobs_1920.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main {
    width: 100%;
}
.welcome-section {
    width: 100%;
    // height: 2117px;
}

// TODO Proper card icons
// TODO Proper card design
// TODO color sections
// TODO Finalize paralax
// TODO Add more blobs
// TODO Mobile design : Paralax, everything

$text-shadow: 2.5px 2.5px 7px #5252525b;

//* pallette
$light-blue: #1bcae6;
$deep-blue: #4067f2;
$deep-purple: #9651bb; // #8c50ba;
$light-purple: #b12df6;
$pink: #e9449e;
$orange: #fa705f;

.light-blue {
    color: $light-blue !important;
}
.deep-blue {
    color: $deep-blue !important;
}
.deep-purple {
    color: $deep-purple !important;
}
.light-purple {
    color: $light-purple !important;
}
.pink {
    color: $pink !important;
}
.orange {
    color: $orange !important;
}

h1,
h2,
h3,
p,
li {
    font-family: "AntennaCond", sans-serif !important;
    color: white;
}

.dark-text {
    h1,
    h2,
    h3,
    p,
    li {
        color: #4c4c4c;
    }
}

.icon-deep-purple {
    filter: hue-rotate(35.4grad) saturate(6995.3%);
}

// #region paralax
.paralax-layer {
    h1,
    h2,
    p {
        text-align: center;
        // letter-spacing: -1.5px;
        text-shadow: 4px 4px 8px rgba(51, 51, 51, 0.445);
    }
    h1 {
        font-family: "SixCaps", sans-serif !important;
        font-weight: 500;
        text-transform: uppercase;
    }
    p {
        font-family: "AntennaCond", sans-serif !important;
        font-weight: lighter;
        text-transform: lowercase;
    }
    .reduced-opacity {
        opacity: 0.3;
    }
}

.mb_text {
    h1 {
        font-size: 205px;
    }
    p {
        margin-top: -0.5em;
        font-size: 55px;
    }
}

.b2_text p,
.b3_text p {
    &::first-letter {
        text-transform: uppercase;
    }
}
.b2_text p {
    font-size: 47px;
}
.b3_text p {
    font-size: 40px;
}
// #endregion

/* ----------------------- Section main static content ---------------------- */

.static-content {
    position: absolute;
    top: 2060px;
    width: 100%;
    // FIXME dont use hardcoded px
    // TODO make sure scrollings proper
}



.section-main-text,
.hexagon-background {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    // background-image: url("../assets/hex_background_1920.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 170%; //FIXME should crop image to this, might be loading way too much

    padding-top: 1em;
    padding-bottom: 3em;
    .text-wrapper {
        // max-width: 1200px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 80ch 1fr;
        & > * + * {
            padding-top: 1em;
        }
        & > h2 + p {
            padding-top: 0.8em;
        }

        h1 {
            font-size: 60px;
            text-align: center;
            text-shadow: $text-shadow;
            font-weight: 500; //900
            padding-bottom: 1em;
            color: $light-blue; //?

            max-width: 1200px; //FIXME
            margin-left: 500px;
            margin-top: -200px;
        }
        p.first {
            grid-column: 1/4;
            margin-top: -40px;
            margin-left: 650px;
            max-width: 80ch;
        }
        h2 {
            color: $light-blue; //?
        }
        h2,
        p {
            grid-column: 2/3;
            font-size: 20px;
            line-height: 30px;
        }
        h1 {
            grid-column: 1/4;
        }
    }
}