/* ------------------------------ paralax setup ----------------------------- */
.static-content {
  position: relative;
  top: 2117px;
}

.paralax {
  perspective: 10px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.paralax-group {
  position: relative;
  transform-style: preserve-3d;
}

.paralax-layer {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.paralax-layer img {
  position: absolute;
}

.paralax-background {
  display: none;
  transform: translateZ(-20px) scale(3.05);
  width: 100%;
  height: 2117px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.paralax-background img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* -------------------------- positioning layers 3d ------------------------- */
@media screen and (min-width: 901px) {
  .paralax-mb-triangle {
    transform: translateZ(-30px) scale(4.05);
  }

  .paralax-small_blob_1 {
    transform: translateZ(1px) scale(0.95);
  }

  .paralax-mb_back_blob {
    transform: translateZ(-6px) scale(1.65);
  }

  .paralax-mb_mid_blob_shadow {
    transform: translateZ(-2.7px) scale(1.32);
  }

  .paralax-mb_mid_blob {
    transform: translateZ(-2px) scale(1.25);
  }

  .paralax-mb_main_blob_shadow {
    transform: translateZ(-0.9px) scale(1.14);
  }

  .paralax-mb_main_blob {
    transform: translateZ(-0.5px) scale(1.1);
  }

  .paralax-mb_text {
    transform: translateZ(-0.3px) scale(1.08);
  }

  .paralax-line_1 {
    transform: translateZ(0.5px) scale(1);
  }

  .paralax-line_2 {
    transform: translateZ(0.5px) scale(1);
  }

  .paralax-b2_main {
    transform: translateZ(2px) scale(0.85);
  }

  .paralax-b2_text {
    transform: translateZ(2.5px) scale(0.8);
  }

  .paralax-b3_main {
    transform: translateZ(1px) scale(0.95);
  }

  .paralax-b3_hexagon_shadow {
    transform: translateZ(1.5px) scale(0.9);
  }

  .paralax-b3_text {
    transform: translateZ(1.8px) scale(0.87);
  }

  .paralax-line_3 {
    transform: translateZ(0.8px) scale(0.97);
  }

  .paralax-small_blob_2 {
    transform: translateZ(2.5px) scale(0.8);
  }

  .paralax-small_blob_3 {
    transform: translateZ(4px) scale(0.65);
  }

  .paralax-small_blob_4 {
    transform: translateZ(2.2px) scale(0.83);
  }

  .paralax-small_blob_5 {
    transform: translateZ(-3.5px) scale(1.4);
  }

  .paralax-triangle_2 {
    transform: translateZ(-2px) scale(1.25);
  }
}
/* ------------------------------- positioning ------------------------------ */
.rotated-triangle {
  transform: rotateZ(-90deg) scaleX(-1);
}

@media screen and (min-width: 901px) {
  .mb-triangle {
    top: 75px;
    left: calc(59.0364583333% - 122.5px);
    width: 245px;
  }

  .small_blob_1 {
    top: 180px;
    left: calc(27.0833333333% - 60px);
    width: 120px;
  }

  .mb_back_blob {
    top: 180px;
    left: calc(51.7708333333% - 259px);
    width: 518px;
  }

  .mb_mid_blob_shadow {
    top: 260px;
    left: calc(46.5625% - 344px);
    width: 688px;
  }

  .mb_mid_blob {
    top: 280px;
    left: calc(48.6979166667% - 344px);
    width: 688px;
  }

  .mb_main_blob_shadow {
    top: 257px;
    left: calc(49.4010416667% - 411.5px);
    width: 823px;
  }

  .mb_main_blob {
    top: 135px;
    left: calc(51.7447916667% - 404.5px);
    width: 809px;
  }

  .line_1 {
    top: 168px;
    left: calc(37.2916666667% - 130px);
    width: 260px;
  }

  .line_2 {
    top: 496px;
    left: calc(69.53125% - 75px);
    width: 150px;
  }

  .mb_text {
    position: absolute;
    top: 410px;
    left: calc(50.7291666667% - 259px);
    width: 518px;
  }

  .small_blob_2 {
    top: 1302px;
    left: calc(19.1927083333% - 60.5px);
    width: 121px;
  }

  .b2_main {
    top: 1057px;
    left: calc(74.8958333333% - 261px);
    width: 522px;
  }

  .b2_text {
    /* -------------------------------- text blob ------------------------------- */
    position: absolute;
    top: 1295px;
    left: calc(75.0520833333% - 161px);
    width: 322px;
  }

  .b3_main {
    top: 1800px;
    left: calc(29.21875% - 251px);
    width: 502px;
  }

  .b3_hexagon_shadow {
    top: 1809px;
    left: calc(28.203125% - 246.5px);
    width: 493px;
  }

  .b3_text {
    /* -------------------------------- text blob ------------------------------- */
    position: absolute;
    top: 2080px;
    left: calc(28.0729166667% - 175px);
    width: 350px;
  }

  .line_3 {
    top: 1890px;
    left: calc(41.9270833333% - 54px);
    width: 108px;
  }

  .triangle_2 {
    top: 1830px;
    left: calc(23.8541666667% - 115px);
    width: 230px;
  }

  .small_blob_4 {
    top: 2288px;
    left: calc(34.375% - 65px);
    width: 130px;
  }

  .small_blob_3 {
    top: 2123px;
    left: calc(91.4583333333% - 51px);
    width: 102px;
  }

  .small_blob_5 {
    top: 1449px;
    left: calc(57.734375% - 113.5px);
    width: 227px;
  }
}
@font-face {
  src: url("../assets/fonts/SixCaps-Regular.ttf");
  font-family: "SixCaps";
  font-weight: normal;
}
@font-face {
  src: url("../assets/fonts/AntennaCond-Light.otf");
  font-family: "AntennaCond";
  font-weight: 500;
}
@font-face {
  src: url("../assets/fonts/AntennaCond-Bold.otf");
  font-family: "AntennaCond";
  font-weight: 900;
}
@font-face {
  src: url("../assets/fonts/AntennaCond-Med.otf");
  font-family: "AntennaCond";
  font-weight: 700;
}
.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

.carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* rtl:begin:ignore */
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

/* rtl:end:ignore */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
.carousel-control-next {
    transition: none;
  }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}
.carousel-dark .carousel-indicators li {
  background-color: #000;
}
.carousel-dark .carousel-caption {
  color: #000;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}

button {
  background: none;
  border: none;
}

html {
  overflow-x: hidden;
  background-image: url("../assets/background_blobs_1920.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  width: 100%;
}

.welcome-section {
  width: 100%;
}

.light-blue {
  color: #1bcae6 !important;
}

.deep-blue {
  color: #4067f2 !important;
}

.deep-purple {
  color: #9651bb !important;
}

.light-purple {
  color: #b12df6 !important;
}

.pink {
  color: #e9449e !important;
}

.orange {
  color: #fa705f !important;
}

.icon-deep-purple {
  filter: hue-rotate(35.4grad) saturate(6995.3%);
}

.paralax-layer h1,
.paralax-layer h2,
.paralax-layer p {
  color: white;
  text-align: center;
  text-shadow: 4px 4px 8px rgba(51, 51, 51, 0.445);
}
.paralax-layer h1 {
  font-family: "SixCaps", sans-serif !important;
  font-weight: 500;
  text-transform: uppercase;
}
.paralax-layer p {
  font-family: "AntennaCond", sans-serif !important;
  font-weight: lighter;
  text-transform: lowercase;
}
.paralax-layer .reduced-opacity {
  opacity: 0.3;
}

.mb_text h1 {
  font-size: 205px;
}
.mb_text p {
  margin-top: -0.5em;
  font-size: 55px;
}

.b2_text p::first-letter,
.b3_text p::first-letter {
  text-transform: uppercase;
}

.b2_text p {
  font-size: 47px;
}

.b3_text p {
  font-size: 40px;
}

.static-content {
  position: absolute;
  top: 2417px;
  width: 100%;
}

.hexagon-background-text-parent p,
.hexagon-background-text-parent h2,
.hexagon-background-text-parent h1,
.hexagon-background-text-parent h3,
.hexagon-background-text-parent li {
  font-family: "AntennaCond";
}
.hexagon-background-text-parent h1 {
  font-size: 60px;
  color: #1bcae6;
  text-align: center;
  text-shadow: 2.5px 2.5px 7px #5252525b;
  font-weight: 500;
  padding-bottom: 1em;
}
.hexagon-background-text-parent h2,
.hexagon-background-text-parent h3 {
  font-weight: 700;
  font-size: 30px;
  color: #1bcae6;
}
.hexagon-background-text-parent p,
.hexagon-background-text-parent li {
  color: white;
  font-size: 20px;
}
.hexagon-background-text-parent li {
  color: #9651bb;
}
.hexagon-background-text-parent li::marker {
  color: #9651bb;
}
.hexagon-background-text-parent strong {
  font-weight: 700;
  color: #1bcae6;
}

.section-main-text h1 {
  max-width: 1200px;
  margin-left: 500px;
  margin-top: -200px;
}

.section-main-text,
.hexagon-background {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 170%;
  padding-top: 1em;
  padding-bottom: 3em;
}
.section-main-text .text-wrapper,
.hexagon-background .text-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 80ch 1fr;
}
.section-main-text .text-wrapper > * + *,
.hexagon-background .text-wrapper > * + * {
  padding-top: 1em;
}
.section-main-text .text-wrapper > h2 + p,
.hexagon-background .text-wrapper > h2 + p {
  padding-top: 0.8em;
}
.section-main-text .text-wrapper h2,
.section-main-text .text-wrapper p,
.hexagon-background .text-wrapper h2,
.hexagon-background .text-wrapper p {
  grid-column: 2/3;
}
.section-main-text .text-wrapper h1,
.hexagon-background .text-wrapper h1 {
  grid-column: 1/4;
}

/* ------------------------ section with hexagoncards ----------------------- */
.hexagon-cards {
  padding: 5em;
}

.hexagon-cards-section {
  background-color: #545454;
  height: 500px;
}

.hexagon-cards-wrapper {
  margin-left: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0;
}

.hexagon-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hexagon-cards-container-controls {
  padding-top: 20px;
  display: grid;
  grid-template-rows:  46.2916512457px 20px 46.2916512457px 20px 46.2916512457px 20px;
  grid-template-columns:  9.4059892323px 108.1880215354px 9.4059892323px 108.1880215354px 9.4059892323px 108.1880215354px 9.4059892323px 108.1880215354px 9.4059892323px 108.1880215354px 9.4059892323px 108.1880215354px 9.4059892323px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1.5em;
}
.hexagon-cards-container-controls .hexagon-card {
  width: 130px;
  height: 112.5833024914px;
}

.carousel-control {
  cursor: pointer;
}
.carousel-control:hover {
  filter: brightness(110%);
}
.carousel-control:active {
  filter: brightness(60%) !important;
}
.carousel-control.selected {
  filter: brightness(70%) !important;
}

.hexagon-card {
  background-image: url("../assets/hexagon_card.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}
.hexagon-card h3,
.hexagon-card p {
  color: #4c4c4c;
  font-family: "AntennaCond", sans-serif !important;
  font-size: 14px;
  line-height: 25px;
}
.hexagon-card img {
  flex-grow: 1;
  flex-shrink: 1;
  width: auto;
}
.hexagon-card h3 {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0;
  font-size: 17px;
  max-width: 70%;
}
.hexagon-card .text-clipper {
  flex-grow: 1;
  flex-shrink: 1;
}
.hexagon-card .text-clipper p {
  display: inline;
  text-align: justify;
}
.hexagon-card div.before {
  float: left;
  height: 100%;
  width: 50%;
  shape-outside: polygon(0px 0px, 0% 100%, 50% 100%);
  shape-margin: 3%;
  display: inline;
}
.hexagon-card div.after {
  float: right;
  height: 100%;
  width: 50%;
  shape-outside: polygon(100% 0%, 100% 100%, 50% 100%);
}

.vl {
  display: none;
}

.carousel-slide-inner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 8em;
  padding-right: 8em;
  padding-top: 8em;
  display: grid;
  row-gap: 0.5em;
  column-gap: 5em;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 55px 1fr 50px;
  padding-bottom: 3em;
}
.carousel-slide-inner h2 {
  grid-area: 1/1/2/2;
  text-align: center;
  padding-bottom: 2em;
  text-transform: uppercase;
  font-size: 45px;
}
.carousel-slide-inner .main-text-wrapper {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.carousel-slide-inner .main-text-wrapper p {
  padding-top: 1em;
}
.carousel-slide-inner .main-text-wrapper h3 {
  padding-top: 2em;
}
.carousel-slide-inner .main-text-wrapper p {
  font-size: 19px !important;
  line-height: 30px;
}
.carousel-slide-inner .list {
  grid-area: -2/1/-1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0.5em;
}
.carousel-slide-inner .list h3 {
  align-self: auto;
}
.carousel-slide-inner .carousel-inner-text {
  flex: 2;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}
.carousel-slide-inner h1,
.carousel-slide-inner h2,
.carousel-slide-inner h3,
.carousel-slide-inner p,
.carousel-slide-inner li {
  font-family: "AntennaCond", sans-serif !important;
  color: white;
}
.carousel-slide-inner h2::first-letter {
  text-transform: uppercase;
}
.carousel-slide-inner h3 {
  font-size: 25px;
  text-align: left;
  align-self: flex-start;
}
.carousel-slide-inner p.main-text {
  font-size: 20px;
  max-width: 80ch;
}
.carousel-slide-inner .vl {
  height: 100%;
  background-color: #9651bb;
  border-radius: 2px;
}

.portfolio-container {
  grid-column: 2/3;
  grid-row: 1/span 5;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
}
.portfolio-container .portfolio-card {
  background-color: #dedede;
  border-radius: 5px;
  box-shadow: inset 5px 5px 8px 8px #8080806e;
  display: grid;
  grid-template-columns: 50px 5fr;
  grid-template-rows: 1fr 2fr;
  row-gap: 0.3em;
  column-gap: 1em;
  padding: 1em;
}
.portfolio-container .portfolio-card .image-wrapper {
  grid-area: 1/1/3/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.portfolio-container .portfolio-card .image-wrapper img {
  width: 100%;
  height: auto;
}
.portfolio-container .portfolio-card h3 {
  grid-area: 1/2/2/3;
}
.portfolio-container .portfolio-card p {
  grid-area: 2/2/3/3;
}
.portfolio-container .portfolio-card h1,
.portfolio-container .portfolio-card h2,
.portfolio-container .portfolio-card h3,
.portfolio-container .portfolio-card p,
.portfolio-container .portfolio-card li {
  color: #4c4c4c;
}
.portfolio-container .portfolio-card h3 {
  align-self: left;
}

/* ----------------------------- section kontakt ---------------------------- */
section.kontakt {
  background-image: url("../assets/hex_background_1920.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 170%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding-right: 5em;
  width: auto;
  gap: 0.5em;
}
section.kontakt h1,
section.kontakt h2,
section.kontakt h3,
section.kontakt p,
section.kontakt li {
  color: #4c4c4c;
}
section.kontakt p {
  max-width: 60ch;
  text-align: right;
}
section.kontakt ul {
  text-align: right;
}
section.kontakt ul > * + * {
  padding-top: 0.7em;
}
section.kontakt li {
  color: #4c4c4c;
  font-weight: 500;
}
section.kontakt li::marker {
  content: "";
  display: none;
}
section.kontakt a {
  text-decoration: none;
  color: inherit;
}
section.kontakt .phone-icon {
  height: 1.6em;
  top: 0.3em;
  margin-left: 0.2em;
}
section.kontakt .email-icon {
  font-size: 1.5em;
  top: 0.1em;
  margin-right: 0.1em;
  margin-left: 0.1em;
}
section.kontakt .phone-icon,
section.kontakt .email-icon {
  color: #000000;
  filter: invert(0.35);
  font-weight: 700;
  position: relative;
}
