//* pallette
$light-blue: #1bcae6;
// $deep-blue: #4067f2;
$deep-purple: #9a57c1; // #8c50ba;
// $light-purple: #b12df6;
$pink: #db2689;
// $orange: #fa705f;

@import "./paralax.scss";
@import "./positions.scss";
@import "./fontImport.scss";
@import "./contact.scss";
@import "./mediaInfo.scss";
@import "./hexagon-cards.scss";
@import "./navigation.scss";
@import "./portfolio.scss";
@import "./overlay.scss";

// @import "../bootstrap/_carousel.scss";

.display-large {
    @media screen and (max-width: 675px) {
        display: none;
    }
}

@media screen and (max-width: 675px) {
    br {
        display: none !important;
    }
    .b2_text {
        br {
            display: block !important;
        }
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
    }
}
* {
    margin: 0;
    padding: 0;
    outline: none;
}

button {
    background: none;
    border: none;
}

button,
a {
    cursor: pointer;
}

html {
    background-image: url("../assets/background_blobs_1920.png");
    overflow-x: hidden;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    scroll-behavior: smooth;
}
main {
    width: 100%;
}
.welcome-section {
    width: 100%;
    // height: 2117px;
}

a {
    text-decoration: none !important;
}

$text-shadow: 2.5px 2.5px 7px #5252525b;

.light-blue {
    color: $light-blue !important;
    b,
    a {
        color: $light-blue !important;
    }
    p {
        color: white;
    }
}

.deep-purple {
    color: $deep-purple !important;
    b,
    a {
        color: $deep-purple !important;
    }
    p {
        color: white;
    }
}

.pink {
    color: $pink !important;
    b,
    a {
        color: $pink !important;
    }
    p {
        color: white;
    }
}
.light-blue-a {
    a,
    b {
        color: $light-blue !important;
    }
}

.deep-purple-a {
    a,
    b {
        color: $deep-purple !important;
    }
}

.pink-a {
    a,
    b {
        color: $pink !important;
    }
}

.deep-purple-text {
    p,
    a,
    h1,
    h2,
    h3 {
        color: $deep-purple;
    }
}

h1,
h2,
h3,
p,
li {
    font-family: "AntennaCond", sans-serif !important;
    color: white;
}

.dark-text {
    h1,
    h2,
    h3,
    p,
    li {
        color: #4c4c4c;
    }
}

.icon-deep-purple {
    filter: hue-rotate(35.4grad) saturate(6995.3%);
}

// #region paralax
.paralax-layer {
    h1,
    h2,
    p {
        text-align: center;
        // letter-spacing: -1.5px;
        text-shadow: 4px 4px 8px rgba(51, 51, 51, 0.445);
    }
    h1 {
        font-family: "SixCaps", sans-serif !important;
        font-weight: 500;
        text-transform: uppercase;
    }
    p {
        font-family: "AntennaCond", sans-serif !important;
        font-weight: lighter;
        text-transform: lowercase;
    }
    .reduced-opacity {
        opacity: 0.3;
    }
}

.mb_text {
    h1 {
        font-size: 134px;
    }
    p {
        margin-top: -0.5em;
        font-size: 36px;
    }
}

.b2_text p,
.b3_text p {
    &::first-letter {
        text-transform: uppercase;
    }
}
.b2_text p {
    font-size: 25px;
}
.b3_text p {
    font-size: 30px;
}
// #endregion

/* ----------------------- Section main static content ---------------------- */

.static-content {
    position: absolute;
    top: 1900px;
    @media screen and (max-width: 675px) {
        top: 980px;
    }
    @media screen and (min-width: 676px) and (max-width: 900px) {
        top: 1500px;
    }
    width: 100%;
    // @include paralax(0.5px);
    &.no-paralax {
        //unused
        transform: translateZ(-4px) scale(1.47); //NEEDS TO MATCH THE TRIANGLE
        top: 2337px;
    }
    transition: transform ease-in-out 0.1s; //, top ease-in-out 0.1s;
}

.section-main-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    & > * + * {
        margin-top: 4em;
    }
    @media screen and (max-width: 675px) {
        & > * + * {
            margin-top: 2em;
        }
    }

    padding-top: 1em;
    // padding-bottom: 3em;

    h2,
    p {
        font-size: 20px;
        line-height: 30px;
    }
    @media screen and (max-width: 675px) {
        h2,
        p {
            font-size: 20px;
            line-height: 30px;
        }
    }
    .heading-wrapper {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 500px 1fr 80ch 1fr;

        @media screen and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 0.5em;
            & > * + * {
                padding-top: 2em;
            }

            p.first {
                grid-column: 3/4;
            }
            h1 {
                grid-column: 2/-2;
            }
        }
        @media screen and (min-width: 1201px) {
            p.first {
                grid-column: 3/4;
            }
            h1 {
                grid-column: 2/-1;
            }
        }

        h1 {
            font-size: 60px;
            text-align: center;
            text-shadow: $text-shadow;
            font-weight: 500; //900
            padding-bottom: 0.2em;
            color: $light-blue; //?
            max-width: 97vw;
            box-sizing: border-box;
        }
        @media screen and (max-width: 675px) {
            h1 {
                font-size: 35px;
            }
            p {
                font-size: 17px;
                line-height: 27px;
            }
        }
        p.first {
            max-width: min(80ch, 97vw);
            text-align: center;
        }
    }
    .text-wrapper {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 80ch 1fr;
        @media screen and (max-width: 900px) {
            grid-template-columns: 1fr 75vw 1fr;
        }
        & > * + * {
            padding-top: 1em;
        }
        & > h2 + p {
            padding-top: 0.8em;
        }

        h2 {
            color: $light-blue; //?
        }
        h2,
        p {
            grid-column: 2/3;
        }
    }
}

.swiper-wrapper {
    width: 85vw;
}

.carousel-control-button-5 img {
    filter: invert(31%) sepia(48%) saturate(6120%) hue-rotate(310deg) brightness(88%) contrast(95%);
}